body{
    background-image: url("../images/concrete_seamless.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container{
   width:960px;
   max-height: 50%;

}



 h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
a.navbar-brand {   
    background-color: #4aaaa5;       
    padding: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}
nav.navbar {
    background-color: white;
    border-bottom: 2px solid;
    border-color: #cccccc;
}

li.nav-item a {        
    color: #777 !important;    
    border-right:1px solid !important;
    font-size: 15px;     
    padding: 0 10px 0 10px;                 /* To reduce height of border between Menu */
}

li.nav-item a:hover {
    text-decoration: underline;
    
}



/* To remove boder for last menu item */
li.nav-item:last-child a {              
    border: none !important;    
}



div.container {
    padding:0px;   /* So that name touches top and bottom */
}

div.outer-container {
    padding: 0 10px 0 10px;                 /* To reduce height of border between Menu */
}

nav.navbar {
    padding:0;
}

#profilePic{
    width:15% !important;
    
}

.jumbotron{
    background-color: white;
    padding:10px;
    border: 1px solid ;
    border-color: #dddddd;
    line-height: 1.5;
}


  .card-footer {
    width: 100%;
    height:40px;
    background-color:#666666;
    border-top: solid ;
    border-color: #4aaaa5;
    border-width: 6px;
   }

.navbar-toggler {
    background-color:#777;    
}

.btn-primary{
    background-color: #4aaaa5;
}

.col-md-4 {
    margin: 15px;
    padding: 0;
    /*width: auto;*/
}

.text-block {
    width: 100%;
    position: absolute;
    bottom: 30px;
    background-color:#4aaaa5;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
/*Adding media queries for small screens*/

@media screen and (min-width: 600px){

  .text-block {
    width: 100%;
    position: absolute;
    bottom: 30px;
    background-color:#4aaaa5;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }

}

@media (max-width: 767px){
  li.nav-item a {                
    border: none !important;          
}
}

@media (max-width: 576px){
    .container{
        padding: 4rem 2rem;
        width:100%;
    }

    #profilePic{
        width:150px !important;
        display: block !important;        
        
    }

   
}

