body{
    /* background-image: url("../images/concrete_seamless.png"); */
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.container{

    width: 100% !important;
    /* margin: 20px; */
 
}



 h2 {
    color:#4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
a.navbar-brand {   
    /* background-color: #4aaaa5;        */
    padding: 20px;
    font-size: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;

}
nav.navbar {
    background-color: #3f4553;
    border-bottom: 2px solid;
    border-color: #cccccc;
}

li.nav-item a {        
    color: #777 !important;    
    border-right:1px solid !important;
    font-size: 15px;     
    padding: 0 10px 0 10px;                 /* To reduce height of border between Menu */
}

li.nav-item a:hover {
    text-decoration: underline;
    
}



/* To remove boder for last menu item */
li.nav-item:last-child a {              
    border: none !important;    
}



div.outer-container {
    padding: 0 10px 0 10px;                 /* To reduce height of border between Menu */
}

nav.navbar {
    padding:0;
}

#profilePic{
    width:15% !important;
    
}


.card-footer {
width: 100%;
height:40px;
background-color:#3f4553;
border-top: solid ;
border-color: #4aaaa5;
border-width: 6px;
color:white;
}

.navbar-toggler {
    background-color:#777;    
}

.btn-primary{
    background-color: #4aaaa5;
}

.col-md-8 {

    padding: 10px;
    margin: 0 auto;
    font-size: 14px;

   
}

.card {
    /* margin-top: 50px; */
    text-align: center;
    margin-top: 80px;
    box-shadow: 0px 0px 30px 2px #000;


}


#badge {
    color: rgba(24, 22, 22, 0.829);
}

.btn-info {
    background-color: 
    rgb(128, 153, 35);
    color: black;
    border:  rgb(128, 153, 35);;
}

.bg-dark {
    border: none;
    height: 400px;
}

.card-body {
    color: #d8d8d8
    /* background-color: rgb(99, 96, 96); */
}

.card-img-top{
    width:100%;
    height:200px;
}

.text-block {
    /* width: 100%; */
    position: absolute;
    bottom: 50px !important;
    background-color:#4aaaa5;
    color: #ffffff;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


.img-fluid {   

    /* margin-top: 5px; */
    width: 80%;
    height:200px;
    border-radius: 50%;
    justify-content: center !important;
    margin-top: 5px;
 }
/*Adding media queries for small screens*/


.footer {
    background:#f6f6f6;
    padding:20px 0;
    border-top:2px solid gray;
}
.widget h2 {
    cursor:pointer;  
    font-size:18px;
    font-weight:bold;
    padding-bottom:5px;
}
.footer-bottom {
    background:#d8d8d8;
    border-top:1px solid #d9d9d9;
    font-size:11px;
    color:#777;
}

   /* .fa {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  } */

  

  .resume {
      background-color: #ffffff;
      border: 2px solid #3f4553;
      margin: 200px;    
      padding: 10px;
      color: black;
  }

  /* .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-linkedin {
    background: #007bb5;
    color: white;
  }

  .fa-github {
    background: red;
    color: white;
  } */
  

@media screen and (min-width: 600px){

  .text-block {
    width: 100%;
    position: absolute;
    bottom: 30px;
    background-color:#4aaaa5;
    color: white;
    padding: 10px 10px 10px 10px;
    text-align: center;
  }

}

@media (max-width: 767px){
  li.nav-item a {                
    border: none !important;          
}
}

@media (max-width: 576px){
    .container{
        /* padding: 4rem 2rem; */
        width:100%;
        margin: 10px;
    }

    #profilePic{
        width:150px !important;
        display: block !important;        
        
    }

    .navbar-toggler {
        margin-right: 5px;
        padding: 5px;
    }

   
}
